@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family:'Poppins', serif;
}

html {
    min-height: 100%;
    margin: 0;
}

body {
    margin: 0;
    min-height: 100%;
    padding-bottom: 3rem;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.contenedor {
    display: grid;
    place-items: start center;
    grid-template-columns: 2fr 4fr;
    position: relative;
}

.contenedor-tareas {
    position: relative;
    max-width: 40rem;
    margin-top: 5rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    font-family:'Baskervville', serif;
    background-color: white;
    padding: 2rem 4rem;
    border-radius: 30px;
}

.titulo {
    text-align: center;
    font-size: 2.2rem;
}
.nueva-tarea {
    display: flex;
    float: left;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.nueva-tarea [type="submit"] {
    width: 35px;
    text-align: center;
    font-size: 1.1rem;
    color: white;
    font-weight: 400;
    border: 2px solid white;
    border-radius: 20px;
    background-color:rgb(34, 104, 255);
}

#nombre-nueva-tarea{
    font-size: 1.2rem;
    flex-grow: 1;
    float: left;
    padding: 5px;
    background-color: rgba(255,255,255, 0.5);
    border: 2px solid rgba(0,0,0, 0.1);
    border-bottom: 2px solid rgba(0,0,0,0.5);
    border-radius: 40px;
    outline: none;
    margin-right: 0.5rem;
}

.tarea {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nombre-tarea {
    margin-right: 1rem;
    font-size: 1.3rem;
    font-family: 'Forum', sans-serif;
}

.tarea button{
    border: none;
    background-color: transparent;
}

button, input[type="submit"] {
    transition: transform 300ms;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    transform: scale(1.1);
    cursor: pointer;
}

.tick {
    width: 1.5rem;
}

#numero-tareas-pendientes {
    font-size: 1.2rem;
    color:rgb(34, 104, 255);
    position:absolute;
    bottom: -2rem;
    left: 0px;
    right: 0px;
    text-align: center;
}

.pomodoro {
    position: fixed;
    top: 12rem;
    right: 12rem;
    color: white;
}

.saltar {
    aspect-ratio: 1;
    width: 4rem;
}

.titulo-pomodoro {
    font-size: 4rem;
    font-weight: bold;
}

#tiempo-restante {
    font-size: 7rem;
}

#boton-saltar {
    margin-left: 1rem;
    background: white;
    border: none;
    border-radius: 20px;
    padding: 1rem;
    position: relative;
    top: 0.5rem;
}

#empezar-pausar {
    font-size: 4rem;
    color: rgb(34, 104, 255);
    border-radius: 20px;
    padding: 0.2rem 0.5rem;
    border: none;
    background-color: white;
}

#cache {
    position: absolute;
    z-index: -1000;
    opacity: 0;
    height: 0px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}